.main{
    height: 100vh;
    width:max 100%;

    padding: 0px 30px;
    


    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   

    .paragraph{
        

       text-align: left;

       overflow: auto;

       height: 80%;

       margin-top: 40px;

       
       
       p{
        padding: 10px 0;
        
        text-align: left;
        
        word-spacing: 2px;
        line-height: calc(100% + 3px);
       }
    }
}